src/main/mule/git-jenkin.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="45d05f97-4b89-4d1e-8b8f-ec137e1c383a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-jenkinFlow" doc:id="113aa0eb-7894-4f88-8307-cffa56a40af6" >
		<http:listener doc:name="Listener" doc:id="06d3196c-ee51-4561-9bd2-e75a6b45101c" config-ref="HTTP_Listener_config" path="/GJ"/>
		<logger level="INFO" doc:name="Logger" doc:id="18673c12-d738-4859-8467-7703cb3544c1" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c46fc443-e37b-497a-b471-3152532d483f" />
	</flow>
</mule>
